name: CI pipeline for India Forecast App

on: push

jobs:

  lint_and_test:
    uses: openclimatefix/.github/.github/workflows/poetry-python-test.yml@v1.8.5
    with:
      pytest_cov_dir: india_forecast_app
    secrets:
      HUGGINGFACE_TOKEN: ${{ secrets.HUGGINGFACE_TOKEN }}

  release:
    needs: [lint_and_test]
    if: github.ref_name == 'main'
    uses: openclimatefix/.github/.github/workflows/docker-release.yml@main
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
    with:
      image_base_name: india_forecast_app
