name: CI Pipeline for SDK - Python

on: push

jobs:
  lint_and_test:
	name: Lint the code and run the tests
	runs-on: ubuntu-latest
	steps:
	  - name: Check out the repo
		uses: actions/checkout@v2

	  - name: Install poetry
		run: pipx install poetry==1.7.1

	  - name: Install python
		uses: actions/setup-python@v4
		with:
		  python-version: '3.9'
		  cache: poetry

	  - name: Install python dependencies
		run: poetry install

	  - name: Lint
		run: make lint

	  - name: Run the tests
		run: poetry run pytest --cov=india_forecast_app --cov-report=xml

	  - name: Upload coverage to Codecov
		uses: codecov/codecov-action@v3
		
  release:
	needs: [lint_and_test]
	if: github.ref_name == 'main'
  	uses: openclimatefix/.github/.github/workflows/docker-release.yml@v1.2.0
  	secrets:
	  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
	  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
	  PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
  	with:
	  image_base_name: india_forecast_app
